@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', 'sans-serif';
    box-sizing: border-box; 
}
body {
    display:block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4682B4;
    
}

.wrapper  {
    display: block;
}
.wrapper .evania {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.line{
    display:block;
}
.line .wishes {
    color: yellow;
    font-size: 60px;
    font-weight: 400;
}
